*{
margin: 0;
padding: 0;
}

html { 
    font-size: 62.5%;
 }

header {
    width: 100%;
    background-color: #f7f9fc;
    height: 90px;
}
/* Inicio Index */
.titulos {
    color:white;
    text-align: center;
    font-family: Poppins;
}

h1 {
    padding-top: 10rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.2em; 
}

.titulosH2 {
    font-size: 4.2rem;
    font-family: "Poppins";
    font-weight: 700;
    padding: 1em 0 1em 0;
    text-align: center;
    color: #047798;
    letter-spacing: 0.05em;
}

.tituloH2Portada {
    font-size: 3.2rem;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.titulosH4 {
    font-size: 0.8rem;
    line-height: 1.6;
    font-family: "Poppins";
    font-weight: 200;
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 0.05em;
}
.textos {
    padding-top: 15rem;
}

a {
    text-decoration: none !important;
    color: #047798 !important;
}

#imagen-fondo {
    background-image: url("../img/fondo-de-pantalla-web-jdlc-opt.jpg"); height: 600px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

#ventajas {
    font-size: 1.8rem;
    font-family: "Poppins";
    letter-spacing: 0.05em;
    color: #047798;
    line-height: 1.4em;
    text-align: center;
    background-color: #f7f9fc;
    border-radius: 20px;
}

#ventajas img {
    width: 100px;
}

.ventajastexto {
    font-size: 1.7rem;
    color: #666666;
    margin: 30px 20px 30px 20px;
    letter-spacing: 0.05em;
    font-family: Poppins;
    line-height: 1.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.imagenVentajas {
    margin: 30px 15px 0px 15px;
    border-radius: 20px;
    
}

.ventajas1 {
    background-color: white;
    margin: 40px 15px 40px 15px;
    border-radius: 20px;
}

/* Fin index */

/* Inicio Página Sobre Mi */
.sobremi {
    background-color: #f7f9fc;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 3rem;
}

/* .cajaTitulo {
    background-color: red;
    display: flex;
    justify-content: center;
    align-content: center;
} */

.tituloSobreMi {
    width: 100%;
    margin-top: 1rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.titulosH2SobreMi {
    font-size: 4.2rem;
    font-family: "Poppins";
    font-weight: 700;
    padding: 0 0 1em 0;
    text-align: center;
    color: #047798;
    letter-spacing: 0.05em;
}

.sobremicaja {
    font-size: 1.8rem;
    font-family: "Poppins";
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #777777;
    line-height: 1.4em;
    display: flex;
    margin: 2rem;
    background-color: white;
    border-radius: 20px;
    
}
.imagenJuan {
    border-radius: 20px;
}
.imagenMargen {
    margin: 2rem 0;
}
.imagenSobreMi {
    border-radius: 20px;
    margin: 20px 10px 20px 40px;
    padding: 20px;
}

.textoSobremi {
    padding: 30px;
    margin-top: 1rem;
}

.textoSobremipadding p{
    padding: 0px 10px 20px 0px;
}

/* Fin página Sobre Mi */
/* Inicio página Contacto */

/* .separa {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.tabla {
    border: 4;
    font-size: 2rem;
} */

/* form {
    display: flex;
    background-color: #f7f9fc;
    padding-inline-end: 30px 0;
}

.formulario{
    display: block;
    width: 40%;
    font-size: 1.8rem;  
    font-family: poppins;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 40px;
}

.formBorde {
    background-color: #047798;
    width: 400px;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
    color: white;
    margin-top: 60px;
    margin-bottom: 30px;
}

.botonForm {
  width: 100%;
  background: white;
  border: none;
  padding: 12px;
  color: #047798;
  margin: 16px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
}

.controls {
  width: 94%;
  background: white;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: poppins;
  font-size: 18px;
  color: white;
  height: 10px;
}

.controlsArea {
    width: 94%;
    background: white;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: poppins;
    font-size: 18px;
    color:#047798;
    height: 40px;
}

.formulario2 {
    width: 100%; 
}

.textoForm1 {
    text-align: center;
    width:  100%;
    display: block;
}

.tituloForm {
    width: 100%;
    font-size: 2.5rem;
    color: #047798;
    text-align: center;
    margin-top: 20px;
}

.titulosForm2 {
    text-align: center;
    width: 100%;
}

.textoForm {
    width: 80%;
    font-size: 2rem;
    color: #777777;
    text-align: center;
    padding: 15px 50px;
}

.imagenForm {
    width: 60%;
    text-align: left;
    border-radius: 30px;
    margin-bottom: 30px;
} */

.btn {
background-color: #047798 !important;
font: color white;
border-radius: 0.8rem;
}
.form-label {
    font-size: 1.7rem;
    font-family: Poppins 200;
    color: #047798;
}
#contenedor-formulario{
    background: #fbfafa;
    border-radius:10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 2rem;
}
.conversemos {
    color: #047798;
    margin: 3rem 0;
    text-align: center;
}
.img-fluid {
    border-radius: 15px;
}
.input-lg {
    height: 30px;
}

.fondoFormulario {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    border: #047798 0.5px solid;
}

/* Fin página contacto */

/* Inicio Footer */

footer {
    background-color: white;
    font-size: 1.8rem;
    font-family: "Poppins";
    text-align: center;
}

.columnas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.columna1Footer__mision {
    font-size: 1.5rem;
    line-height: 1.4em;
    text-align: center;
    padding: 20px 30px 0px 30px;
}

.columna1Footer {
    text-align: center;
    padding: 20px 0;
}

.mail {
    padding: px 0px 0px 0px;
}

.telefono {
    padding: 0px 0px 20px 0px;
}

.columna1Footer__logo {
    margin-bottom: -20px;
    max-width: 30%;
}

.columna2Footer1 {
    display: inline-block;
   justify-content: center;
}

.columna2Footer {
    padding: 0px 30px 20px 30px;
    list-style: none;
    text-align: center;
    display: inline-block;
}

.columna3Footer {
    text-align: center; 
}

.rrss_titulo {
    color: #047798;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.rrss a {
    padding-right: 10px;
    padding-left: 10px;
}

.fa-brands {
    color: #047798;
    padding: 5px 0 40px 0;
}

.copy {
    text-align: center;
    color: #00000060;
    background-color: #f7f9fc;
    padding: 10px;
}

/* Fin Footer */

/* Inicio Página Servicios */
#servicios {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f7f9fc;

}

.imagenServicios {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 20px;
}
.serviciosTexto {
    width: 300px;
    font-size: 1.7em;
    color: #666666;
    margin: 30px 20px 30px 20px;
    letter-spacing: 0.05em;
    font-family: Poppins;
    line-height: 1.5em;
}
.serviciosTitulo {
    font-size: 16px;
    max-width: 300px;
    margin: 30px 20px 30px 20px;
    color: #047798;
    letter-spacing: 0.05em;
    font-family: poppins;
    line-height: 1.5em;
    text-align: center;

}
.fondoBlanco {
    background-color: white;
    margin-top: 40px;
}
.servicios1 {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
}

/* Fin página Servicios */
/* Inicio página Precios */

.PreciosConsultaIndividual {
    border: #777777 2px solid;
    height: 600px;
}

.precio {
    font-size: 50px;
    max-width: 300px;
    margin: 20px 20px 20px 20px;
    color: #ce0054;
    font-family: poppins;
    line-height: 1.5em;
    text-align: center;
    font-weight: 400;
}

.precioAnterior {
    font-size: 20px;
    max-width: 300px;
    color: #ce0054;
    letter-spacing: 0.05em;
    font-family: poppins;
    line-height: 1.5em;
    text-align: center;
    font-weight: 400;
    text-decoration: line-through;
}

.preciosTexto {
    width: 200px;
    font-size: 1.7em;
    color: #666666;
    margin: 30px 20px 30px 40px;
    letter-spacing: 0.05em;
    font-family: Poppins;
    line-height: 1.5em;
}

.botonPrecios {
  text-align: center;
  background: #047798;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.botonPrecios1 {
    text-align: center;
}
.resaltar {
    background-color: #7ddde3;
}

/* Fin página Precios */

/* Media Queries para pantallas SM max 768px */

@media only screen and (min-width: 0px) and (max-width: 768px) {

    /* index */
    
    .textos {
        width: 90% !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 3rem;
        line-height: 1.2;
    }

    .titulosH4 {
        font-size: 2rem;
        line-height: 1.2;
    }

    .ventajas1 {
        margin: 40px 15px 0px 15px;
    }

    #ventajas {
        padding-bottom: 40px;
    }

    /* Footer */

      .columnas {
            grid-template-columns: 100%;
            display: grid;
            grid-template-areas:
                "columna1Footer"
                "columna2Footer1"
                "columna2Footer"
                "columna3Footer";
      }


      /* Fin Footer */
      /* fin index */

      /* Media queries página Sobre Mi */
      .sobremi {
          display: grid;
          padding: 0;
          margin: 0;
          grid-template-columns: 100%;
          text-align: center;
          grid-template-areas: 
          "textoSobremipadding"
          "imagenSobreMi";
      }
      
      .textoSobremipadding {
          grid-area: textosobremipadding;
      }
      .imagenSobreMi {
          grid-area: imagenSobreMi;
          grid-template-columns: 100%;
          padding: 0;
          margin: 0;
      }
      .imagenJuan {
          margin: 0;
          width: 250px;
          padding: 0;
      }
      
    #menu a, button{
        font-size: 18px;
         font-weight: 600;
         padding-left: 10px;
      }

    .columna1Footer__logo {
        margin-bottom: -20px;
        max-width: 125px;
    }

    .columna1Footer__mision {
        font-size: 1.5rem;
        line-height: 1.4em;
        text-align: center;
        padding: 20px 60px 0px 60px;
    }
  
    /* Contacto */

    #contenedor-formulario{
        display: block;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .imagenContacto {
        text-align: center;
        margin: 0 30px;
        }
    .fondoFormulario {
        margin: 0 30px;
    }
    }
/* Fin Media Queries para pantallas SM max 768 */

/* Inicio Media Queries para pantallas ancha 1200px */

@media only screen and (min-width: 1024px) and (max-width: 2400px) {
    #ventajas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    
    .titulosH4 {
        font-size: 2rem;
        line-height: 1.2;
    }
    .col-md-4 {
        width: 100%;
    }
    /* .container {
        max-width: 100%;
    } */

    .ventajas1 {
        height: 250px;
    }

    .columnas {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
    }
    #contenedor-formulario{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
    .imagenContacto {
        text-align: center;
    }
    .conversemos {

    }
}

/* Inicio Media Queries para pantallas medias entre 768px y 1024px */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .ventajas1 {
        height: 270px;
    }

    .columna1Footer__logo {
        margin-bottom: -20px;
        max-width: 125px;
    }
    
    #ventajas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }
    /* .container {
        max-width: 100%;
    } */
    .col-md-4 {
        width: 100%;
    }
    
    #contenedor-formulario{
        display: block;
        align-items: center;
        justify-content: center;
    }
    .fondoFormulario {
        margin: 0 30px;
    }

    .imagenContacto {
    text-align: center;
    }
}

/* Ajueste nav */
.logoMenu {
    max-width: 50%;
}

#menu a, button{
    font-size: 18px !important;
     font-weight: 600;
     padding-left: 10px;
}


/* Estilizado de boton menu hamburquesa */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2804, 119, 152, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border-color: #047798;
}
/* Fin estilizado de boton menu hamburquesa */